{%extends 'child/basic.html'%}


{%block style%}
.col-md-3{
	display: inline-block;
	margin-left:-4px;
	margin-top:50px;

} 
.namak{
  text-align:center:
}



{%endblock%}

{%block body%}

<style>
  body{
    background-color: #040201;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1{
    color: white;
    padding-top: 15rem ;
  }


  
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/child">Milaap</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    
        </div>
        <a class="btn btn-outline-success my-2 my-sm-0 mr-3" href="{% url 'dashboard' %}">Dashboard</a>
        <a class="btn btn-outline-success my-2 my-sm-0 mr-3" href="{% url 'logout' %}">Logout</a>
       
</nav>
      <div class="container">
        <h1>Congratulations, You have Sucessfully Added a New Member</h1>

      </div>
{%endblock%}