{%extends 'child/basic.html'%}


{%block style%}
.col-md-3{
	display: inline-block;
	margin-left:-4px;
	margin-top:50px;

} 
.namak{
  text-align:center:
}



{%endblock%}

{%block body%}

<style>
  body{
    background-color: #040201;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h3{
    color: white;

  }

  .container{
    padding-top: 15rem;
    padding-left: 22rem ;
  }
  
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Milaap</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
        </div>
       
</nav>
      <div class="container">
<h3> Last Step For adding Member</h3><br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a class="btn btn-outline-success" href="/child/congrats">Click Here for Trainning</a>  

      </div>
{%endblock%}