{%extends 'child/basic.html'%}


{%block style%}
.col-md-3{
  display: inline-block;
  margin-left:-4px;
  margin-top:50px;

} 
.namak{
  text-align:center:
}



{%endblock%}

{%block body%}

<style>


  
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/child">Milaap</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    
        </div>
    
        <a class="btn btn-outline-success my-2 my-sm-0 mr-3" href="{% url 'dashboard' %}">Dashboard</a>
            <a class="btn btn-outline-success my-2 my-sm-0 mr-3" href="{% url 'logout' %}">Logout</a>
       
</nav>
      <div class="container"  style="padding-top: 3%;">
      <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/media/{{profile.image}}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{profile.id}}  {{profile.name}} </h5>
        <p class="card-text">
        {{profile.gender}}
      </p>
        <p class="card-text"><small class="text-muted">{{profile.address}}</br>{{profile.mobilenumber}}</small></p>
      </div>
    </div>
  </div>
</div>
      </div>
{%endblock%}




